* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --bg-color: rgb(69, 69, 69);
    --bg-color-2: #28BFD0;
    --text-color: white;
    --color-1: #008fad;
    --color-2: #d94498;
    --color-3: #beda73;
    --color-4: #89c201;

    color-scheme: dark;
}
@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #FFFFFF;
        --text-color: black;

        color-scheme: light;
    }
}

html {
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    height: 100%;
}

header, footer {
    background-color: var(--color-1);
    padding: 2rem;
    text-align: center;
}
header {
    box-shadow: 0 .2rem .5rem 0 rgba(0, 0, 0, 0.5);
}
footer {
    box-shadow: 0 0 .5rem .2rem rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    color: var(--text-color);
}

main {
    padding: 2rem 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100vw;
    height: fit-content;
}

.nachricht {
    padding: 2rem;
    border-radius: 24px;
    background-color: var(--this_color);
    line-height: 1.6em;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto 1fr;
    gap: 1rem;
    flex: 1 1 250px;
    height: fit-content;
    max-width: 100%;
}
.nachricht.edit {
    outline: .25em solid var(--text-color);
}
.nachricht input, .nachricht textarea {
    background-color: var(--this_color_light);
    border-radius: .5em;
    border: none;
    color: var(--text-color);
    font-family: inherit;
    padding: .5em 1em;
    width: 100%;
}
.nachricht input:focus, .nachricht textarea:focus {
    border: none;
    outline-color: var(--text-color);
}
.nachricht textarea {
    resize: none;
}
.nachricht .heading {
    font-size: 1.6rem;
    overflow: hidden;
    min-width: 200px;
    word-wrap: break-word;
}
.nachricht .name {
    text-wrap: nowrap;
    overflow: hidden;
}
.nachricht .content {
    grid-column: 1/-1;
    word-break: break-all;
    width: 100%;
}
.nachricht .date {
    margin-top: auto;
}
.nachricht .button_div {
    margin-top: auto;
    display: grid;
    grid-auto-flow: column;
    gap: .5em;
}
.nachricht .button_div button {
    background-color: var(--this_color_light);
    border: none;
    border-radius: 12px;
    padding: .5em 1em;
    color: var(--text-color);
}
.nachricht .button_div button:hover, .nachricht .button_div button:focus {
    outline: .25em solid var(--text-color);
}

.color1 {
    --this_color: var(--color-1);
    --this_color_light: var(--bg-color-2);
}
.color2 {
    --this_color: var(--color-2);
    --this_color_light: palevioletred;
}
.color3 {
    --this_color: var(--color-4);
    --this_color_light: var(--color-3);
}

#new_post_btn {
    font-size: 1.2rem;
    position: fixed;
    right: 2rem;
    bottom: 8rem;
    display: flex;
    align-items: center;
    gap: .5em;
    border: none;
    border-radius: 12px;
    padding: 1em 2em;
    box-shadow: 0 .2rem .5rem 0 rgba(0, 0, 0, 0.5);
    transform: translateX(calc(100% + 2rem));
    transition: transform 250ms ease-in-out;
}
#new_post_btn.visible {
    transform: none;
}

#new_post_btn {
    background-color: var(--color-1);
}
#new_post_btn:hover, #new_post_btn:focus {
    background-color: var(--bg-color-2);
}
@media only screen and (max-width: 768px) {
    
    .nachricht {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
}
@media only screen and (max-width: 480px) {
    main {
        flex-direction: column;
    }
    #new_post_btn {
        font-size: 1rem;
        right: 1rem;
        bottom: 4rem;
    }
}